<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>
		<script src="../../../../public/Frontend/MUI/Js/MUI.min.js"></script>
		<script src="../../../../public/Frontend/MUI/Js/jQuery-2.2.1.min.js"></script>
		<link href="../../../../public/Frontend/MUI/Css/Style.css" rel="stylesheet" />
	</head>
	<body>
	</body>
</html>
