
html,body{
	overflow-x:hidden;

}
ul{
	margin: 0;
	padding: 0;

}
li{
	list-style-type: none;
}
/*---------导航code----- */

/*二维码code*/
.custom-QR{
	display: inline-block;
	height: 31px;
	width: 31px;
	margin-top: 14px;
	margin-left: 4.3%;
	background-repeat:no-repeat ;
	background-image: url("../../Image/QRcode.png");
}

.custom-message{
	display: inline-block;
	position: fixed;
	left: 88%;
	top: 13px;
	height: 20px;
	width: 20px;
	background-repeat:no-repeat ;
	background-image: url("../../Image/message.png");
}
.custom-message span{
	display: inline-block;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: red;
	margin-left: 13px;
	margin-bottom: 13px;
}

.backColor{
	background-color: #007AFF;
}

/*地点选择下拉框code*/
.mui-navigate-right{
	display: none;
	color: white;
	font-size: 10px;
}
.mui-table-view-cell.mui-collapse{
	z-index: 999;
	display: inline-block;
	margin: 0;
	padding: 0;
	height: 93px;
	/*transform: scale(0.9,0.9);*/
	color: white;
	left: 9.6%;
	bottom: 84px;
	font-size: 10px;
	width: 16%;
}
.mui-table-view-cell.mui-collapse.mui-active{
	margin-top: 0px;
}
/*.mui-navigate-right{
	height: 38px;
	width: 38px;
	margin: 0;
	left: 15px;
	top: 10px;
	font-size: 10px;
}*/
.mui-navigate-right.custom-posi.mui-active{
	background-color: #007AFF;
	padding-left:8px ;
	padding-top: 6px;
}
.mui-table-view-cell>a:not(.mui-btn){
	padding-left:8px ;
	padding-top: 6px;
}
.custom-posi{
	color: white;
	bottom: 89px;
	transform: scale(0.5,0.5);
	left: 18%;
}
.custom-posi.custom-active:before{
	content: '\e580';
}
.custom-posi.custom-active{
	
}
.custom-posi:before{
	margin-right: -74px;
}
.mui-navigate-right:after{
	color: white;
	left: 31px;
	top: 17px;
}
.mui-table-view-cell.mui-collapse .mui-collapse-content{
	margin: 0;
	padding: 0;
	padding-left: 8px;
	top: 14px;
	background: #007AFF;
}

/*搜索框code*/
.mui-input-row.mui-search{
	width: 66%;
	bottom: 108%;
	left: 20%;
}

/*------导航栏code  end-------*/

/*--------轮播图-------*/
#slider{
	display: inline-block;
}
#slider .mui-slider-group.mui-slider-loop{
	/*top: 44px;*/
	/*margin-top: 44px;*/
	height: 100%;
}

/*---------导航按钮-------*/
#navi{
	height: 140px;
	background-color: white;
	position: relative;
	bottom: 5px;

}

.custom-naviBtn{
	margin-top: 3%;
	display: inline-block;
	height: 40px;
	width: 37.5px;
	margin-left: 6%;
	/*background-repeat:no-repeat ;
	background-image: url("../../Image/btn.png");
	background-position: 0 0;*/

}
.custom-wenzi{
	display: inline-block;
	color: grey;
	transform: scale(0.77,0.77);
	font-size: 10px;
	margin-top: 38px;
	position: relative;
	left: 3px;
}
/*------end----*/

/*-----签到-------*/
#qiandao{
	/*margin-top: 1%;*/
	background: white;
}
#qiandao button{
	margin-left: 3.5%;
	background-color: red;
	color: white;
	font-size: 10px;
	transform: scale(0.8,0.8);
}




.custom-horn{
	display: inline-block;
	border-left: 1px solid rgba(128, 128, 128, 0.36);
	width: 60%;
	padding: 0;
	margin: 0;
	margin-top: 1px;
}
.custom-horn:before{
	/*content: "1";
	border: 1px solid black;*/
}
.custom-horn li{
	display: inline-block;
}
.custom-horn li:nth-child(1){
	background-repeat: no-repeat;
	color: rgba(1,1,1,0);
	background-image: url(../../Image/laba.png);
	background-position: -10px -12px;
	transform: scale(1.1,1.1);
	position: relative;
	margin-left: 21px;
	line-height: 21px;
}
/*.custom-horn li:nth-child(2){
	width: 150px;
	margin-top: 2px;
	text-align: center;
	display: inline-block;
	height: 23px;
	border-bottom: 0.7px solid rgba(128, 128, 128, 0.36);
	border-top: 0.7px solid rgba(128, 128, 128, 0.36) ;
}*/
.custom-horn li:nth-child(2){
	font-size: 12px;
	line-height: 26px;
	transform: scale(0.9,0.9);
	color: red;
	right: 12px;
	/*float: right;*/
	position: absolute;
}
/*----------end--------*/

/*--------板块入口--------*/
#board{
	height: 100px;
	margin-top: 1%;
	background-color: white;
}
.custon-enterance:nth-child(1){
	margin-left: 5.5%;
	background-image: url("../../Image/home_07.png");
	background-position: -2px 0;
}
.custon-enterance:nth-child(1):after{
	content: "|";
	color: rgba(1,1,1,0);
	border-right: 1px solid rgba(128, 128, 128, 0.36);
	display: inline-block;
	position: relative;
	margin-top: 62px;
	padding-bottom: 60px;
	top: -62px;
	left: 97%;
}

.custon-enterance:nth-child(2){
	margin-left: 3%;
	background-image: url("../../Image/home_07.png");
	background-position: -76px 0;
}
.custon-enterance:nth-child(2):after{
	content: "|";
	color: rgba(1,1,1,0);
	border-right: 1px solid rgba(128, 128, 128, 0.36);
	display: inline-block;
	position: relative;
	margin-top: 62px;
	padding-bottom: 60px;
	top: -62px;
	left: 97%;
}
.custon-enterance:nth-child(3){
	margin-left: 3%;
	background-image: url("../../Image/home_07.png");
	background-position: -154px 0;
}
.custon-enterance:nth-child(3):after{
	content: "|";
	color: rgba(1,1,1,0);
	border-right: 1px solid rgba(128, 128, 128, 0.36);
	display: inline-block;
	position: relative;
	margin-top: 62px;
	padding-bottom: 60px;
	top: -62px;
	left: 97%;
}
.custon-enterance:nth-child(4){
	position: relative;
	bottom: 7px;
	margin-left: 3%;
	background-image: url("../../Image/home_07.png");
	
	background-position: -230px 0;
}

@media only screen and (min-width: 383px ) and (max-width: 384px) {
	.custon-enterance:nth-child(1){
		margin-left: 8%;
	}
	.custon-enterance:nth-child(1):after{
		left: 108%;
	}
	.custon-enterance:nth-child(2){
		margin-left: 6%;
	}
	.custon-enterance:nth-child(2):after{
		left: 108%;
	}
	.custon-enterance:nth-child(3){
		margin-left: 6%;
	}
	.custon-enterance:nth-child(3):after{
		left: 108%;
	}
	.custon-enterance:nth-child(4){
		bottom: 0;
		margin-left: 7%;
	}
	.custom-horn li:nth-child(2){
		left: 147px;
		right: 0;
	}

}
#board a.custon-enterance{
	display: inline-block;
	height: 70%;
	width: 63px;
	/*background-color: greenyellow;*/
	margin-top: 4%;
	background-repeat:no-repeat ;

}

/*------------end-----------*/

/*-----------贩卖-------*/
#forSale{
	height: 110px;
	margin-top: 1.5%;
	background-color: white;
	overflow: hidden;
}
#forSale div.custom-show{
	position: relative;
	display: inline-block;
	height: 100%;
	width: 55%;
	margin-top: 10px;
	transform: scale(1,1.1);
	border-right: 0.2px  solid rgba(128, 128, 128, 0.26);
}
.showImage{
	height: 100%;
	width: 100%;
	right: 8px;
	position: relative;
	background-repeat:no-repeat ;
	display: inline-block;
	background-image: url(../../Image/home1_15.gif);
	background-position: 35px 0;
}
@media only screen and (min-width:383px ) and (max-width:384px) {
#forSale{
	height: 120px;
}
#forSale div.custom-show{
	margin-top: 14px;
transform: scale(1.16,1.16);
	right: 15px;

}
div.custom-show .showImage{
	background-position: 62px 0;
}

li.custom-row1 div:nth-child(1){
	/*position: relative;
	bottom: 4px;
	margin-right: 4px;*/
	transform: scale(1.15,1.15);
	position: relative;
	bottom: 7px;
	margin-left: 5px;
	margin-right: 5px;
}
li.custom-row1 div:nth-child(2){
	transform: scale(1.15,1.15);
	margin-left: 7px;
	margin-top: 3px;
}

li.custom-row2 div:nth-child(1){
	transform: scale(1.15,1.15);
	/*margin-top: 3px;*/
	margin-left: 5px;
	
}
.custom-horn li:nth-child(3){
	left: 146px;
}
}
#forSale ul.custom-sale{
	float: right;
	position: relative;
	display: inline-block;
	height: 100%;
	width: 43%;
	right: 6px;
	/*background: yellow;*/
}

#forSale li.custom-row1{
	display: inline-block;
	height: 50%;
	width: 100%;
	/*background-color: blueviolet;*/
}
li.custom-row1 div:nth-child(1){
	display: inline-block;
	width: 64px;
	height: 55px;
	/*background-color: orange;*/
	background-repeat:no-repeat ;
	background-image: url(../../Image/home1_12.gif);
	background-size: cover;
	background-position: ;
}
li.custom-row1 div:nth-child(2){
	width: 64px;
	display: inline-block;
	height: 100%;
	background-repeat:no-repeat ;
	background-image: url(../../Image/home1_13.gif);
	background-position: -1px 0; 
	position: relative;
	right: 4px;
}
#forSale li.custom-row2{
	display: inline-block;
	height: 50%;
	width: 100%;
}
li.custom-row2 div:nth-child(1){
	position: relative;
	bottom: 3.5%;
	display: inline-block;
	width: 64px;
	height: 51px;
	background-repeat:no-repeat ;
	background-image: url(../../Image/home_15.gif);
	background-position: 0 -1px;
	/*background-color: springgreen;*/
}

/*------下拉菜单 ----*/
.custom-backdrop{
	display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background-color: rgba(0,0,0,0.3);
}
.custom-table-view{
	position: absolute;
	background-color: white;
	z-index: 999;
	top: 44px;
	left: 13%;
}
.custom-table-cell a{
	padding: 0 5px;
	font-size: 13px;
	color:black;
}

/*刷新事件相关css*/
.custom-refresh{
	position: absolute;
	width: 100%;
	top: 110px;
	/*display: none;*/
	text-align: center;
	color: #4C4C4C;
}
