<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">    
   <title></title>
    <script src="../../../../public/Frontend/MUI/Js/MUI.min.js"></script>
    <link href="../../../../public/Frontend/MUI/Css/Style.css" rel="stylesheet"/>
    <script src="../../../../public/Frontend/MUI/Js/jQuery-2.2.1.min.js"></script>
	<link rel="stylesheet" href="../../../../public/Frontend/MUI/Css/timeLine/tlMain.css" />
	<link rel="stylesheet" href="../../../../public/Frontend/MUI/Css/Font.css" />
	<link rel="stylesheet" href="../../../../public/Frontend/MUI/Css/timeLine/timeLine.css" />
    <style>

    </style>
</head>
<body>
	<header class="mui-bar mui-bar-nav backColor" >

		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		<h1 class="mui-title">我的账户</h1>
		<a id="icon-menu" class="mui-icon mui-icon-bars mui-pull-right"></a>
	</header>
	
	<!--时间轴容器-->
	<div class="mui-content" >

		<section id="timeline" class="tl-container">
			<!--<div class="tl-timeline-slider" >
				<i class="iconfont timeline-img"></i>
			</div>-->
			<div class="tl-timeline-block">
				<div class="tl-timeline-pic tl-picture">
					<i class="iconfont timeline-img">&#xe641;</i>
				</div>

				<div class="tl-timeline-content">
					<h2>HTML5+CSS3实现的响应式垂直时间轴</h2>
					<p>网页时间轴一般用于展示以时间为主线的事件，如企业网站常见的公司发展历程等。本文将给大家介绍一款基于HTML5和CSS3的漂亮的垂直时间轴，它可以响应页面布局，适用于HTML5开发的PC和移动手机WEB应用。</p>
					<a href="http://www.helloweba.com/view-blog-285.html" class="cd-read-more" target="_blank">阅读全文</a>
					<span class="cd-date">2015-01-06</span>
				</div>
			</div>	
			<div class="tl-timeline-block">
				<div class="tl-timeline-pic tl-picture">
					<i class="iconfont timeline-img">&#xe641;</i>
				</div>
				
				<div class="tl-timeline-content">
					<h2>HTML5+CSS3实现的响应式垂直时间轴</h2>
					<p>网页时间轴一般用于展示以时间为主线的事件，如企业网站常见的公司发展历程等。本文将给大家介绍一款基于HTML5和CSS3的漂亮的垂直时间轴，它可以响应页面布局，适用于HTML5开发的PC和移动手机WEB应用。</p>
					<a href="http://www.helloweba.com/view-blog-285.html" class="cd-read-more" target="_blank">阅读全文</a>
					<span class="cd-date">2015-01-06</span>
				</div>
			</div>	
		</section>
	</div>
	
    <script type="text/javascript" charset="UTF-8">
      	mui.init();

//		滑块功能
//		var slider = $('.tl-timeline-slider');
//		var body = $('body');
//		console.log(body);
//		slider.on('dragstart',function(){
//			body.css({
//				overflow:'hidden'
//			});
//		});
//
//		console.log(slider);
//		slider.on('drag',function(e){
//			var y = e['detail'].touches[0].pageY;
//
//			slider.css({
//				transform:'translateY('+ (y-118) + 'px)',
//				zIndex: 444
//			});
//		});
//
//		slider.on('dragend',function(){
//			body.css({
//				overflow: 'visible'
//			});
//		})

    </script>
</body>
</html>